<html layout:decorate="~{layout/base}">
<div layout:fragment="content" class="container my-3">
	<div class="row mb-3">
		<div class="col-12">
			<h1>게시글 상세보기</h1>
			
			<table class="table">
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tbody>
					<tr>
						<th>제목</th>
						<td th:text="${post.title}">연습</td>
						<th>작성자</th>
						<td th:text="${post.user.name}">홍길동</td>
					</tr>
					<tr>
						<th>등록일</th>
						<td th:text="${#temporals.format(post.createdDate, 'yyyy년 M월 d일 a h시 m분 s초')}"></td>
						<th>수정일</th>
						<td th:text="${#temporals.format(post.updatedDate, 'yyyy년 M월 d일 a h시 m분 s초')}"></td>
					</tr>
					<tr>
						<th>내용</th>
						<td th:text="${post.content}" colspan="3">내용입니다</td>
					</tr>
				</tbody>
			</table>
			
			<div>
				<!-- 
					sec:authorize="isAuthenticated()" 
						인증된 사용자인 경우 true로 판정하고, 해당 컨텐츠를 출력한다.
						
					${#authentication.principal.username}
						현재 로그인된 사용자의 아디를 조회한다.
					
					${post.user.username}
						게시글의 작성자 아이디를 조회한다.
					
					th:if="${#authentication.principal.username == post.user.username}"
						현재 로그인된 사용자의 아이디와 게시글 작성자 아이디가 일차하는경우 true로 판정하고, 해당컨텐츠를 출력한다.
						
					th:text="${post.postVoters}"
					
					
				 -->
				<a th:href="@{|/post/vote/${post.id}|}"
					class="btn btn-sm btn-outline-success">
					추천
					<span class="badge rounded-fill bg-success" th:text="${#lists.size(post.postVoters)}">1</span>
				</a>
					
				<a th:href="@{|/post/modify/${post.id}|}"
					sec:authorize="isAuthenticated()" 
					th:if="${#authentication.principal.username == post.user.username}"
					class="btn btn-sm btn-warning">수정</a>
					
				<a th:href="@{|/post/delete/${post.id}|}"
					sec:authorize="isAuthenticated()" 
					th:if="${#authentication.principal.username == post.user.username}"
					class="btn btn-sm btn-danger">삭제</a>
			</div>
		</div>
	</div>
	
	<!-- 댓글 목록 및 작성폼 -->
	<div class="row mb-3">
		<div class=col-12>
			<!-- 댓글 목록 -->
			<div th:each="reply : ${post.replies}" class="card my-3">
				<div class="card-body py-1 px-2">
					<a th:id="|reply_${reply.id}|"></a>
					<div class="d-flex justify-content-between">
						<div>
							<span class="badge bg-light text-dark" th:text="${reply.user.name}">홍길동</span>
							<span class="badge bg-light text-dark" th:text="${#temporals.format(reply.createdDate, 'yyyy년 M월 d일')}">2024-03-21</span>
						</div>
						<div>
							<a class="btn btn-sm btn-outline-success">추천</a>
							<a class="btn btn-sm btn-outline-secondary">수정</a>
							<a class="btn btn-sm btn-outline-danger">삭제</a>
						</div>
					</div>
						<p class="card-text ps-2" style="white-space: pre-line;" th:text="${reply.content}">댓글내용입니다. 내용입니다다다다다다아아아 집가고싶다.</p>
				</div>
			</div>
			<!-- 댓글 작성폼 -->
			<!-- 아래와 같이 링크를 적을 때는 앞에 "/"를 붙여 절대경로로 작성한다. -->
			<form sec:authorize="isAuthenticated()" class="border p-3 mb-3" method="post" th:action=@{|/reply/create/${post.id}|}> 
				<div class="row g-3">
					<div class="col-12 position-relative">
						<textarea rows="3" class="form-control" name="content"></textarea>
						<button type="submit" class="btn btn-outline-dark btn-sm position-absolute" style="bottom: 15px; right: 25px;">댓글등록</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</html>