<html layout:decorate="~{layout/base}">
<div layout:fragment="content" class="container my-3">
	<div class="row mb-3">
		<div class="col-12">
			<h1>게시글 상세보기</h1>
			
			<table class="table">
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tbody>
					<tr>
						<th>제목</th>
						<td th:text="${post.title}">연습</td>
						<th>작성자</th>
						<td th:text="${post.user.name}">홍길동</td>
					</tr>
					<tr>
						<th>등록일</th>
						<td th:text="${#temporals.format(post.createdDate, 'yyyy년 M월 d일 a h시 m분 s초')}"></td>
						<th>수정일</th>
						<td th:text="${#temporals.format(post.updatedDate, 'yyyy년 M월 d일 a h시 m분 s초')}"></td>
					</tr>
					<tr>
						<th>내용</th>
						<td th:text="${post.content}" colspan="3">내용입니다</td>
					</tr>
				</tbody>
			</table>
			
			<div>
				<!-- 
					sec:authorize="isAuthenticated()" 
						인증된 사용자인 경우 true로 판정하고, 해당 컨텐츠를 출력한다.
						
					${#authentication.principal.username}
						현재 로그인된 사용자의 아디를 조회한다.
					
					${post.user.username}
						게시글의 작성자 아이디를 조회한다.
					
					th:if="${#authentication.principal.username == post.user.username}"
						현재 로그인된 사용자의 아이디와 게시글 작성자 아이디가 일차하는경우 true로 판정하고, 해당컨텐츠를 출력한다.
						
					th:text="${post.postVoters}"
					
					
				 -->
				<a th:href="@{|/post/vote/${post.id}|}"
					class="btn btn-sm btn-outline-success">
					추천
					<span class="badge rounded-fill bg-success" th:text="${#lists.size(post.postVoters)}">1</span>
				</a>
					
				<a th:href="@{|/post/modify/${post.id}|}"
					sec:authorize="isAuthenticated()" 
					th:if="${#authentication.principal.username == post.user.username}"
					class="btn btn-sm btn-warning">수정</a>
					
				<a th:href="@{|/post/delete/${post.id}|}"
					sec:authorize="isAuthenticated()" 
					th:if="${#authentication.principal.username == post.user.username}"
					class="btn btn-sm btn-danger">삭제</a>
			</div>
		</div>
	</div>
</div>
</html>